<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón mágico -->
    </ion-buttons>

    <ion-title>Panel Administrador</ion-title>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
<app-logo></app-logo>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card color="success">
          <ion-card-header>
            <ion-card-title>Total productos</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{ totalProductos }}</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="warning">
          <ion-card-header>
            <ion-card-title>Stock bajo</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{ stockBajo }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card color="danger">
          <ion-card-header>
            <ion-card-title>Merma</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{ productosPorMermar }}</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <ion-card-header>
            <ion-card-title>Usuarios</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{ totalUsuarios }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" (click)="exportarExcel()">
    Exportar Inventario a Excel
  </ion-button>

  <ion-list>
    <ion-item routerLink="/inventario">
      <ion-label>Ver/Editar Inventario</ion-label>
    </ion-item>
    <ion-item routerLink="/registro">
      <ion-label>Agregar Usuario</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
