<ion-app>
  <!-- Menú lateral -->
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Raconto app</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <app-logo></app-logo>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item button routerLink="/home" routerDirection="back" lines="none">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
          
          <ion-item button routerLink="/inventario" routerDirection="back" lines="none">
            <ion-icon slot="start" name="document-text-outline"></ion-icon>
            <ion-label>Inventario</ion-label>
          </ion-item>
          
          <ion-item button routerLink="/detalles-submit" routerDirection="back" lines="none">
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
            <ion-label>Agregar Productos</ion-label>
          </ion-item>
          
          <ion-item button (click)="logout()" lines="none">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>