.card-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

ion-card {
  text-align: center;
  --background: #f7f7f7;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

ion-card-content {
  font-weight: 600;
  font-size: 16px;
}
