<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Buscar Producto</ion-title>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="termino" placeholder="Escribe para buscar productos"></ion-searchbar>

  <ion-list *ngIf="productosFiltrados.length > 0">
    <ion-item *ngFor="let producto of productosFiltrados">
      <ion-label>{{ producto.nombre }} ({{ producto.categoria }})</ion-label>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="termino && productosFiltrados.length === 0" color="medium" class="ion-padding">
    No se encontraron productos.
  </ion-text>
</ion-content>
